/* Main.css */

main {
    margin: 0 15% 0 15%;
}

.ph {
    display: flex;
    gap: 25px;
}

.ph1 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #747474;
}

.ph2 {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #747474;

}

.grid-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

/*ITEM=1*/

.item1 {
    background-color: #00ccb1;
    border-radius: 15px;
    width: 325px;
    height: 365px;
}

.item1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 30px 30px 0 30px;
    font-weight: normal;
    font-size: 28px;
}

.item1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0 0 0 30px;
    margin-top: -10px;
    font-weight: lighter;
    font-size: 28px;
}

/*ITEM=2*/

.item2 {
    background-color: #3d83df;
    border-radius: 15px;
    width: 325px;
    height: 365px;
}

.item2 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 30px 30px 0 30px;
    font-weight: normal;
    font-size: 28px;
}

.item2 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0 25px 0 30px;
    margin-top: -10px;
    font-weight: lighter;
    font-size: 28px;
}

/*ITEM=3*/

.item3 {
    background-color: #1b2734;
    border-radius: 15px;
    width: 325px;
    height: 365px;
}

.item3 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 30px 30px 0 30px;
    font-weight: normal;
    font-size: 28px;
}

.item3 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0 25px 0 30px;
    margin-top: -10px;
    font-weight: lighter;
    font-size: 28px;
}
