/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 80px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 16px;
    gap: 10px;
}

.s {
    font-size: 24px;
    margin: auto;
    color: #00b39b;
}

.a {
    font-size: 24px;
    margin: auto;
    color: #747474;
}

.footer-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.footer-social h3 {
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00b39b;

}

.social-icons a {
    text-decoration: none;
    color: #fff;
    margin-right: auto;
    font-size: auto;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #00b39b;
}

.footer-bottom {
    text-align: center;
    background-color: #222;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

